<nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-light bg-faded nav-styles">
  <div class='container'><!-- container -->

      <!-- Brand -->
      <div class="col-md-7">
      <b class="navbar-brand" routerLink="/home" routerLinkActive="active">Recipe</b>
      </div>

      <!-- nav-items -->
      <div class="col-md-5">
      <ul class="nav navbar-nav">
        <li class='nav-item'>
          <a class='nav-link' routerLink="/appointments" routerLinkActive="active">Recipes<span class="hidden-md-down"> | </span></a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' routerLink="/ehrs" routerLinkActive="active">Shopping List<span class="hidden-md-down"> | </span></a>
        </li>

        <!-- ngbDrown from ng-bootstrap -->
        <li ngbDropdown class= "nav-item dropdown d-inline-block dropdown-links">
          <a class='nav-link' id="myProfileDropdown" ngbDropdownToggle>User</a>
          <div class="dropdown-menu" aria-labelledby="myProfileDropdown">
            <a class="dropdown-item" routerLink="profile/:id" routerLinkActive="active" [routerLinkActiveOptions] ="{ exact:true }">Profile</a>
            <a class="dropdown-item" routerLink="/calendar" routerLinkActive="active" [routerLinkActiveOptions] ="{ exact:true }">Account</a>
            <a class="dropdown-item" routerLink="/calendar" routerLinkActive="active" [routerLinkActiveOptions] ="{ exact:true }">Sign Out</a>
          </div>
        </li>
      </ul>
      </div>

  </div><!-- /container -->
</nav>